.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
    gap: 2rem;
    position: relative;
}

.main-box {
    width: 75vw;
    height: fit-content;
    border: 0.14rem solid #0f4d54;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: flex;
    border-radius: 0.3rem;
    position: relative;
}

/* SIDEBAR CSS STYLES */
.sidebar {
    width: 13rem;
    border-right: 0.14rem solid #0f4d54;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: relative;
}

.sidebar-items {
 display: flex;
 align-items: center;
 gap: 0.5rem;
 padding: 1rem;
}

.home-icon {
    font-size: 1.2rem;
    background-color: #d8a444;
    color: #0f4d54;
    padding: 0.2rem;
}

.home-icon,
.sidebar-icon {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.sidebar-icon {
    font-size: 0.9rem;
    color: #7d622f; 
}

/* FOLDERS STYLES */
.folders-container {
    margin-top: 0.4rem;
}

.folder-title {
    font-size: 1.01rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0 1rem;
}

.folder-list {
    margin-top: 0.6rem;
    padding: 0 0.3rem;
    position: relative;
}

.folder-list li {
    padding: 0.6rem 1rem;
    transition-delay: 200ms;
}

.folder-list li:hover{
    background-color: #0f4d54;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.folder-link {
 display: flex;
 gap: .5rem;
 color: #b6c8d6;
 font-weight: 600;
 letter-spacing: 0.1rem;
 font-size: 0.8rem;
 align-items: center;
}

.folder-icon {
color: #7d622f;
}

/* FILES / ABOUT ME STYLES */
.files {
    margin-top: 0.8rem;
}

/* FILES / CONTACT ME */
.contact {
 margin-top: 0.8rem;
 padding-bottom: 0.8rem;
}

/* MAIN COMPONENTS DISPLAY */
.components-container {
 width: 100%;
}

.nav-componennts {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    box-sizing: border-box;
    padding: 0.4rem 0.6rem;
    border-bottom: 0.14rem solid #0f4d54;
}

.nav-components-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-components-items li a {
    color: #7d622f;
    font-weight: 600;
}

.arrow-icon-container {
    display: block;
}

.main-mirror {
    padding:  1.1rem 1rem;
    overflow: scroll;
    overflow: auto;
    height: 70vh;
}

.main-mirror::-webkit-scrollbar {
    display: none;
}

/* SOCIAL ICONS LINK styles */
.social-icons-item li {
 padding: 0.5rem 0;
}

.social-icons-item li a{
 color: #d8a444;
 font-size: 1.5rem;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.nav-componennts {
    position: relative;
}

/*Hidden. Drop Down Navbar */
.hamburger-icon{
color: #d8a444;
font-size: 1.2rem;
display: none;
}

.hidden-drop-down-navbar {
    background-color: #293127b6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 12rem;
    min-width: 7rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
}

.hidden-drop-down-navbar li{
    padding: 0.4rem 0;
}

.hidden-drop-down-navbar li a:hover {
    color: #d8a444;
    transition-delay: 200ms; 
}

.adjust-desktop-view {
    display: none;
}

/* EMAIL SECTION  */
/* EMAIL SECTION  */
.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #CC4949;
}

/* Hide the form initially */
.hidden {
    display: none;
}

/* Centering the form */
.emailForm {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.call-div {
    width: 18%;
    min-width: 130px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    gap: 0.4rem;
    padding: 0 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 0.4rem;
    border-radius: 0.3rem;
}

.call-txt {
    color: #d8a444;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.cal-icon {
    font-size: 0.9rem;
}





@media screen and (max-width: 520px) {
    .sidebar {
       display: none;
    }

    .adjust-520 {
        display: none;
    }

    .nav-components-items {
        justify-content: space-between;
    }

    .hamburger-icon{
        display: block;
        }

        .hidden-drop-down-navbar {
            background-color: #293127b6;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 0.3rem;
            padding: 1rem;
            width: 12rem;
            min-width: 7rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .main-container {
           flex-direction: column;
        }

        .social-icons-item {
            display: flex;
            flex-direction: row;
            gap: 1.4rem;
            border: 2px solid red;
            padding: 0;
            margin: 0;
        }
}