.nav-container {
  padding: 0.8rem 2rem;
  background-color: #02272b;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Dosis", sans-serif;
    gap: 0.5rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logo-container img {
    display: block;
    width: 1.7rem;
    height: 1.rem;
    border-radius: 100%;
}

.logo-text,
.intro-text {
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    font-size: 0.97rem;
}

.logo-text {
    color: #22474c;
}

.styled-text{
    color: #5f4b25;
}

.intro-text {
    color: #7d622f;
}

.box {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contact-link {
    display: block;
    border: 1px solid #22474c;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: 4rem;
    padding: 0 0.7rem;
    border-radius: 0.2rem;
    text-align: center;
    transition-delay: 300ms;
}

.contact-link:hover {
    border: 1px solid #967639 !important;
}

.contact-icon {
    transform: rotate(-130deg);
    color: #967639;
    font-size: 0.8rem;
    text-align: center;
    transition-delay: 300ms;
}

.contact-icon:hover {
    color: #FFC55A;   
}

/* MEDIA QUERIRS FOR MOBILE VIEW */
@media screen and (max-width: 480px) {
    body {
      background-color: #65b365;
    }

    .intro-text {
        display: none;
    }
  }

  @media screen and (max-width: 600px) {
 .intro-text {
    display: none;
 }
  }